services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  server:
    build:
      context: .
      target: final
    depends_on:
      - db
    environment:
      DATABASE_URL: ${POSTGRES_DATABASE_URL}
      RUST_LOG: ${RUST_LOG}
    ports:
      - "8000:8000"
volumes:
  db_data:
  